<h1>Payment Details</h1>
<div class="container-fluid">
  <form [formGroup]="paymentForm">
  <div class="row">
    <div class="col-md-6">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Name on the Card</mat-label>
        <input matInput formControlName="nameOnTheCard">
      </mat-form-field>
    </div>
    
        <div class="col-md-6">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Debit/Credit Card</mat-label>
            <input matInput formControlName="debitCardNumber">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="fill" class="w-50">
            <mat-label>Select Month</mat-label>
            <mat-select formControlName="expiryMonth">
              <mat-option *ngFor="let months of monthList" [value]="months">
                {{months}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" class="w-50">
            <mat-label>Select Year</mat-label>
            <mat-select formControlName="expiryYear">
              <mat-option *ngFor="let yr of year" [value]="yr">
                {{yr}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Security Code</mat-label>
            <input matInput formControlName="securityCode">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>Payment Status</mat-label>
            <mat-select formControlName="paymentStatus">
              <mat-option *ngFor="let status of payStatus" [value]="status">
                {{status}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  </div>
  
  </form>
</div>    
<div class="text-end">
    <button mat-button matStepperPrevious>Back</button>
    <button mat-raised-button color="primary" (click)="placeOrder()">Confirm Payment</button>
  </div>
