<mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="parentForm">
    <form [formGroup]="parentForm">
      <ng-template matStepLabel>Search Hotel</ng-template>
      <app-search-hotel></app-search-hotel>
      
    </form>
  </mat-step>
  <mat-step [stepControl]="parentForm" label="Choose Hotel">
    <form [formGroup]="parentForm">
    <app-choose-hotel></app-choose-hotel>
    
    </form>
  </mat-step>
  <mat-step >
    <form [formGroup]="parentForm">
      <ng-template matStepLabel>Choose Room</ng-template>
    <app-choose-room></app-choose-room>
    
    </form>
  </mat-step>
 
 <mat-step [stepControl]="parentForm" label="Choose Hotel">
    <form [formGroup]="parentForm">
      <ng-template matStepLabel>Personal Information</ng-template>
      <app-personal-info></app-personal-info>
    </form>
  </mat-step> 
  <mat-step [stepControl]="parentForm" label="Choose Hotel">
    <form [formGroup]="parentForm">
      <ng-template matStepLabel>Guest Information</ng-template>
     <app-guest-information></app-guest-information>
    </form>
  </mat-step> 
  <mat-step [stepControl]="parentForm" label="Choose Hotel">
    <form [formGroup]="parentForm">
      <ng-template matStepLabel>Payment Details</ng-template>
      <app-payment-details [stepper]="stepper"></app-payment-details>
     
    </form>
  </mat-step> 
  <mat-step [stepControl]="parentForm" label="Choose Hotel">
    <form [formGroup]="parentForm">
      <ng-template matStepLabel>Finish Booking</ng-template>
      <div>
        <div class="text-success mt-4 text-center">
          <span class="fs-2">Hotel Booked Successfully</span>
        </div>
        <div>
        <button mat-raised-button class="mx-2" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" >All Bookings</button>
        </div>
      </div>
    </form>
  </mat-step> 
</mat-stepper>