
  <mat-toolbar color="primary">
    <mat-toolbar-row>
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon >menu</mat-icon>
    </button>
    <h1>Trip.com</h1>
   
    <div class="ms-2">
      <a mat-button class="active">Hotels</a>
      <a mat-button>Flights</a>
      <a mat-button>Cars</a>
      <a mat-button>List Property</a>
    </div>
    <span class="example-spacer"></span>
    <div>
      <a mat-button>Register</a>
      <a mat-button>Sign In</a>
    </div>
    
  </mat-toolbar-row>
 
</mat-toolbar>
   
 


<mat-drawer-container class="example-container " autosize >
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-list role="list">
      <mat-list-item  role="listitem"><mat-icon class="personIcon">person</mat-icon></mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item  role="listitem" routerLinkActive="highlight" >Dashboard</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item  role="listitem" routerLinkActive="highlight" routerLink="/new-booking">New Booking</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item  role="listitem" routerLinkActive="highlight" routerLink="/all-bookings">All Booking</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
   
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>




